@charset "utf-8";
body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #DDD3C6;
	background-color: #000;
	background-image: url(../images/bg-oliveoil2.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;








	a text-decoration: none;


}
/*a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	border: none;
	color: #444;
}*/

a:visited {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	border: 0;
	color: #7C6549;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	text-decoration: none;
	border: 0;
	color: #4F412F;
}
a:hover {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bolder;
	text-decoration: none;
	border: 0;
	color: #4F412F;
}
a:active {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bolder;
	text-decoration: none;
	border: 0;
	color: #4F412F;
}


.oneColFixCtrHdr #container {
	width: 1024px;
	margin: 0 auto;
	text-align: left;
}
.oneColFixCtrHdr #header {
	background-image: url(../images/prince_albert_olives-top.jpg);
	height: 305px;
	background-repeat: no-repeat;
	overflow: visible;
	visibility: visible;
	float: left;
	width: 1024px;
	position: absolute;
	z-index: 1001;
	clear: none;
	background-position: center bottom;
}
.oneColFixCtrHdr #mainContent {
	float: left;
	padding-top: 0px;
	padding-bottom: 0;
	margin: 0px;
	z-index: 1;
	position: absolute;
	visibility: visible;
	overflow: visible;
	clear: left;
	width: 1024px;
	top: 305px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #756146;
	text-align: justify;
	height: 100%;
	left: 0px;
}
.oneColFixCtrHdr #footer {
	position: fixed;
	visibility: visible;
	bottom: 0px;
	background-position: center bottom;
	background-attachment: fixed;
	width: 1024px;
	height: 65px;
	z-index: 2000;
	font-weight: bold;
	color: #111;
	background-image: url(../images/scroll-beige.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	padding-top: 30px;
	text-transform: uppercase;
}
.poatitle {
	position: relative;
	visibility: visible;
	z-index: 1200;
}
.f_table {
	font-family: Georgia, "Times New Roman", Times, serif;
	position: fixed;
	bottom: 0px;
	font-size: x-small;
	color: #5F4F38;
	text-decoration: none;

}
.smalltext {
	font-size: x-small;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #444;
}

.slideshow { height: 450px; width: 900px; margin: auto }
.slideshow img { padding: 0; border: 0px solid #ccc; background-color: #ffffff; }.img_brdr {
	border: thin solid #4F412F;
}
