/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";


/* Variables */

@brand-primary:         #45292b;
@text-color:            @brand-primary;
@body-bg:               #fff5da;

@padding-base-vertical:     6px;
@padding-base-horizontal:   6px;
/*  
@space:                 " ";
@font-marco-polo:			"double-pica";
@font-family-marco-polo: "double-pica, serif";
@font-topaz: 				"josefin-sans";
@font-family-topaz:		"josefin-sans, sans-serif";
@font-family-base:      '@{@custom-font}@{@space}@{@font-family-base}';
*/
/*
@font-family-sans-serif: josefin-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:      double-pica, Georgia, "Times New Roman", Times, serif;
@headings-font-family: 	@font-family-sans-serif;
@font-size-base:        16px;
*/
@caps-font-family: 		josefin-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif-font-family:		double-pica, Georgia, "Times New Roman", Times, serif;
@nav-font-family: 		@caps-font-family;
@design-container: 2082px;
@my-container: 940px;
@design-scale: @my-container / @design-container; 
@container-lg:	@my-container;
@container-md: @my-container;

/* ==========================================================================
   Base
   ========================================================================== */

body { 
	//background: url("/wp-content/uploads/background-olives.png") center center no-repeat;
	background-color: @body-bg;
	
	a {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @serif-font-family;
}

/* ==========================================================================
   Header
   ========================================================================== */

@header-height:	80px;
@header-margin:	20px;

.banner {
	margin-top: @padding-small-vertical;
	margin-bottom: @padding-small-vertical;
	div.logo {
		display: none;
		img {
			width: 60px;
		}
	} 
	.menu {
		position: inherit;
		width: 100%;
		//margin: 0 @header-margin + @header-height;
		//height: @header-height;
		text-align: center;
		.brand {
			img {
				width: 100%;
			}
			margin: 0 auto;
			text-align: center;
		}
	}

	.skip-link {
		.sr-only();
	}
	.social { 
		//float: right;
		width: @header-margin + @header-height;
		text-align: right;
		img {
			height: 20px;
		}
	}
	.nav-main {
		font-family: @nav-font-family;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		margin-top: @padding-small-vertical;
		.nav {
			text-align: center;
			li {
				// float: left;
				position: relative;
				margin: 0 auto;
				padding: 0;
				list-style: none;
				display: inline-block;
				
				a {
					text-decoration: none;
					padding: 13px 7px 0px;
					letter-spacing: 0.03em;
				}
			}	
/*			a:after {
				content:"~";
				margin-left: 12px;
			}
			a:last-child:after {
		  		content:"";
	  		} */
		}
	}
}



/* ==========================================================================
   Content
   ========================================================================== */

/* @medium-image-size: 300px; */
@medium-image-width: 300px;
@medium-image-height: 200px;
@line-png-height: 6px;

.content {
	main {
		.page-header {
		    padding-bottom: 0;
		    margin: 0;
		    border-bottom: none;
		}
		.entry-title {
			a {
				text-decoration: none;
			}
		}
		.pao-page-header {
			h1, h2, h3, h4, h5, h6 {
				font-family: @serif-font-family;
				}
			}
		article {
			//position: relative;
			.wp-post-image {
				display: none;
			}
			img.size-large {
				width: 100%;
				height: auto;
			}
			header {
				text-align: center;
				h2 {
					margin-bottom: 0;
				}
			}
			.wrapper {
				/*position: absolute;
				top: 50%;
				text-align: center;
				vertical-align: middle;
				margin-top: -25%;*/
			}
			.entry-summary {
				text-align: left;
			}
		} 
		article:last-child {
			background: none;
			padding-bottom: 0;
		}
	}
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
	.pao-page-header {
		text-align: center;
	} 
	.full-width {
		width: 100%;
		height: auto;
	}
	p {
		font-family: @serif-font-family;
		font-size: 1.15em;
		text-align: justify;
	}
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
	.container {
		/*background: url("/wp-content/uploads/footer-bg.png") 0% bottom no-repeat;
		height: 209px;
		width: 1140px;
		padding: 0px 120px 185px 170px;
		margin: 0px 15px @padding-large-horizontal;
		section {
			display: inline-block;
			vertical-align: baseline;
			margin-top: 80px; 
		}*/ 
		font-family: @caps-font-family;
		font-weight: 600;
		//font-size: 1.15em;
		position: relative;
		
		.menu {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 800;
			margin-top: 5px;
		}
		
		ul {
			padding-left: 0px;
			
			li {
				list-style: none;
				display: inline-block;
				background: url("/wp-content/uploads/footer-separator.png") no-repeat scroll right center transparent;
				padding-right: 9px;
				
				a {
					text-decoration: none;
				}
				/*a:after {
					content:"~";
					margin-left: 12px;
					margin-right: 12px;
				}
				a:last-child:after {
			  		content:"";
		  		}*/
			}
			li:last-child {
				background: none;
				padding-right: 0px;
			}
		} 
		.copyright {
			text-align: right;
			position: absolute;
			margin: 0;
			padding: 0;
			display: inline-block;
			right: 70px;
			top: 70px;
		}
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
	.banner {
		div.logo {
		display: block;
		text-align: center;
		margin: 0 auto;
		
		img {
			width: @header-height;
		}
	}
	.menu {
		height: @header-height;
		}
	} 
	
	.content {
		main {
			article {
				min-height: 226px; /* @medium-image-height + (2 * @line-png-height); */
				.wp-post-image {
					display: inherit;
					float: right;
				}
			.wrapper {
					margin-right: 315px;				
			}
				header {
					//margin-right: @medium-image-width;
					margin-bottom: @padding-large-horizontal;
				}
				.entry-summary {
					//margin-right: @medium-image-width;
				}
			} 
		}
	}
}

//@footer-image-url: "/wp-content/uploads/footer-bg.png";
@footer-image-height: 172px;
@footer-image-width: 940px;
@footer-image-top-padding: 65px;
@footer-image-right-padding: 55px;
@footer-image-bottom-padding: 83px;
@footer-image-left-padding: 79px;


@media (min-width: @screen-md-min) {
	body { 
	background: url("/wp-content/uploads/background-olives.png") center 400px no-repeat;
	}

	.banner {
		margin-top: 25px;
		margin-bottom: 18px;
		div.logo {
			float: left;
			height: @header-height;
			width: @design-scale * 340;
			margin-left: 15px;
			margin-right: @header-margin;
			//margin: 6px auto;
			text-align: center;
			.hidden-xs();
			img {
				height: @header-height;
				//width: 100%;
			}
		} 
		.menu {
			position: absolute;
			width: 100%;
			max-width: 500px;
			margin: 0 @header-margin + @header-height;
			// height: @header-height;
			text-align: center;
			.brand {
				img {
					width: 100%;
					max-width: 565px;
					margin: 5px auto 0;
				}
				margin: 0 auto;
				text-align: center;
			}
		}
	
		.skip-link {
			.sr-only();
		}
		.social { 
			float: right;
			margin-right: 15px;
			margin-top: 7px;
			width: 170px;
			//padding-right: 40px;
			//width: 150px;
			//text-align: right;
			img {
				margin-left: 7px;
				//height: 20px;
			}
		}
		.nav-main {
			//font-family: @nav-font-family;
			//font-weight: 600;
			font-size: 15px;
			text-transform: uppercase;
			margin-top: 6px;
			.nav {
				text-align: center;
				li {
					// float: left;
					position: relative;
					margin: 0 auto;
					padding: 0;
					list-style: none;
					display: inline-block;
					background: url('/wp-content/uploads/menu-separator.png') right 21px no-repeat;
					padding-right: 8px;
				}
				li:last-child {
					background: none;
					padding-right: 0;
				}
	/*			a:after {
					content:"~";
					margin-left: 12px;
				}
				a:last-child:after {
			  		content:"";
		  		} */
			}
		}
	
}
	.content {
		main {
			article {
				background: url("/wp-content/uploads/line.png") center bottom no-repeat;
				padding-bottom: @line-png-height;
				min-height: @medium-image-height + @line-png-height;
			} 
		}
	}

	.content-info .container {
		background: url("/wp-content/uploads/footer-bg.png") 0% bottom no-repeat;
		height: @footer-image-height;
		width: @footer-image-width;
		padding: 0px @footer-image-right-padding @footer-image-bottom-padding @footer-image-left-padding;
		margin-bottom: @padding-large-horizontal;
		section {
			display: inline-block;
			vertical-align: baseline;
			margin-top: @footer-image-top-padding; /* JUST TO MAKE IT LOOK GOOD, CHANGE THIS!!!!! */ 
		} 
	}
}

@media (min-width: @screen-lg-min) {
	.banner {
		.menu {
			max-width: 720px;
		}
	}
}
